@charset "UTF-8";

.header__title {
  /* background-color: #F2F5F9; */
  background-image: url(../images/section_title_bg.png);
  background-size: cover;
  background-position: center;
  padding: 80px 0;
  text-align: center;
}

.header__title span {
  color: #2FC1FF;
  font-weight: bold;
}

.header__title h2 {
  color: #fff;
  font-size: 3em;
}

.single {
  margin-top: 50px;
}

.single .single__item {
  width: 70%;
  margin: auto;
  padding: 30px 0;
  border-top: 1px solid #ececec;
  overflow-wrap: break-word;
}

.single .single__item .single__meta {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

.single .single__item .single__item--category {
  border: 1px solid #2FC1FF;
  border-radius: 30px;
  padding: 2px 15px;
  color: #FFF;
  background-color: #2FC1FF;
}

.single .single__item .single__item--date {
  color: #2FC1FF;
  font-weight: bold;
  margin-right: 15px;
}

.single .single__item .single__thumbnail img {
  width: 100%;
  height: auto;
  margin-bottom: 30px;
}

.single .single__item h2,
.single .single__item h3 {
  background-color: #f2f2f2;
  border-left: 5px solid #2FC1FF;
  margin: 50px 0 30px;
  padding: 8px 10px 8px 15px;
  color: #333;
}

.single .single__item p {
  /* font-weight: bold; */
  line-height: 1.7em;
  letter-spacing: 0.4px;
  color: #4C5253;
}

@media screen and (max-width: 520px) {
  .single .single__item {
		width: 90%;
	}

  .header__title h2 {
    font-size: 2em;
  }

  .single .single__item h2,
  .single .single__item h3 {
    font-size: 22px;
  }
}

/******************
  column
*****************/
.single__wrap {
  display: flex;
  justify-content: space-around;
}

.single__wrap .single {
  width: 70%;
}

@media screen and (max-width: 520px) {
  .single__wrap {
    flex-direction: column;
  }

  .single__wrap .single {
    width: 100%;
  }
}

/******************
  sidebar
*****************/
.single__wrap aside {
  width: 20%;
  margin-top: 50px;
}

.new-post h3 {
  font-size: 2em;
  padding-bottom: 15px;
  margin-bottom: 30px;
  border-bottom: 1px solid #ececec;
}

.new-post .new-post__item {
  width: 80%;
  margin: 0 auto 30px;
  margin-right: 50px;
}

.new-post .new-post__item .new-post__img {
  width: 100%;
}

.new-post .new-post__item .new-post__img img {
  width: 100%;
  height: auto;
}

.widget_taxonomies {
  font-size: 12px;
  margin-bottom: 30px;
}

.widget_taxonomies ul li {
  display: inline-block;
  list-style: none;
  margin-bottom: 10px;
  margin-right: 8px;
  position: relative;
  font-weight: bold;
  border: 1px solid #2FC1FF;
  border-radius: 20px;
  padding: 5px 15px;
  transition: all .3s;
}

.widget_taxonomies ul li:hover {
  background-color: #2FC1FF;
}

.widget_taxonomies ul li:hover a {
  color: #fff;
}

.widget_taxonomies ul li a {
  color: #2FC1FF;
}

/* .wp-block-categories-list li::after {
  content: '\f054';
  font-family: "Font Awesome 5 Free";
  font-weight: bold;
  position: absolute;
  right: 15px;
  top: 50%;
  transform: translateY(-50%);
} */

.wp-block-archives-list {
  list-style: none;
  font-size: 18px;
  font-weight: bold;
}

.wp-block-archives-list li {
  margin-bottom: 10px;
}

@media screen and (max-width: 520px) {
  .single__wrap aside {
    width: 90%;
    margin: auto;
  }

  .new-post .new-post__item {
    width: 100%;
    margin: 30px auto;
  }
}