@charset "UTF-8";
/* color code
#4C5253
#W3498DB
#2FC1FF */

body {
  font-family: 'Noto Sans JP', sans-serif;
}

a {
  color: #4C5253;
  text-decoration: none;
}

* {
  margin: 0;
  padding: 0;
}

.section__title {
  text-align: center;
}

.section__title span {
  color: #2FC1FF;
  font-weight: bold;
}

.section__title h2 {
  font-size: 3em;
}

/******************
  header
******************/

header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  margin: auto;
  padding: 15px 0px 15px 30px;
  display: flex;
  justify-content: space-between;
  box-shadow: 0 3px 6px rgba(0,0,0,0.2);
  background-color: #fff;
  z-index: 10;
  box-sizing: border-box;
}

header .logo img {
  width: 150px;
}

header nav ul {
  display: flex;
}

header nav ul li {
  list-style: none;
  margin-left: 20px;
  line-height: 50px;
  margin-right: 30px;
  font-weight: bold;
  font-size: 1.2em;
}

header nav ul li a {
  transition: all 0.5s;
}

header nav ul li a:hover {
  color: #2FC1FF;
}

/******************
  main-area
******************/

#main-area {
  /* height: 650px; */
  display: flex;
  justify-content: center;
  /* background-image: url(../images/main-area-bg.png); */
  background-color: #2FC1FF;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  padding-top: 80px;
  padding-bottom: 50px;
}

#main-area .main-area__text {
  margin-top: 120px;
  width: 600px;
  /* min-width: 50%; */
  /* max-width: 0%; */
}

#main-area .main-area__text h1 {
  font-size: 70px;
  /* color: #4C5253; */
  color: #fff;
}

#main-area .main-area__text > p {
  font-weight: bold;
  font-size: 1.2em;
  margin-top: 30px;
  color: #4C5253;
}

#main-area .main-area__image {
  width: 40%;
  display: flex;
  align-items: center;
}

#main-area .main-area__image img {
  width: 100%;
}

.button {
  width: 50%;
  text-align: center;
  margin-top: 50px;
}
.button p {
  margin-bottom: 5px;
  font-weight: 600;
  color: #fff;
  letter-spacing: 0.04rem;
  display: inline-block;
  position: relative;
}
.button p:before, .button p:after {
  display: inline-block;
  position: absolute;
  top: 45%;
  width: 20px;
  height: 3px;
  border-radius: 5px;
  background-color: #fff;
  content: "";
}
.button p:before {
  left: -30px;
  -webkit-transform: rotate( 50deg );
  transform: rotate( 50deg );
}
.button p:after {
  right: -30px;
  -webkit-transform: rotate( -50deg );
  transform: rotate( -50deg );
}
.button a {
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0 auto;
  max-width: 240px;
  padding: 15px 30px;
  color: #4C5253;
  transition: 0.3s ease-in-out;
  font-weight: 600;
  background: #FFF;
  filter: drop-shadow(0px 2px 4px #ccc);
  border-radius: 50px;
}
.button a:hover {
  transform: translateY(-2px);
  box-shadow: 0 15px 30px -5px rgb(0 0 0 / 15%), 0 0 5px rgb(0 0 0 / 10%);
}
.button a:after {
  position: absolute;
  top: 50%;
  right: 20px;
  transition: 0.2s ease-in-out;
  content: "\f0da";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  transform: translateY(-54%);
}

/******************
  worries
******************/

#worries {
  background-color: #F3F3F3;
  text-align: center;
  width: 60%;
  margin: auto;
  margin-top: 100px;
  padding: 50px 20px;
  border-radius: 15px;
}

#worries h1 {
  font-size: 32px;
}

#worries p {
  font-size: 1.2em;
  font-weight: bold;
  color: #4C5253;
}

#worries .worries__content-wrap {
  display: flex;
  justify-content: space-around;
}

#worries .worries__content-wrap img {
  width: 50%;
}

/******************
  solution
******************/

#solution {
  width: 90%;
  margin: auto;
  margin-top: 100px;
}

#solution h1 {
  text-align: center;
  font-size: 50px;
}

#solution .solution__content-wrap {
  margin-top: 30px;
}

#solution .solution__content-wrap .solution__content {
  display: flex;
  justify-content: space-around;
  width: 60%;
  margin: auto;
  margin-bottom: 50px;
  padding: 30px 0px;
  border: 2px solid #2FC1FF;
  border-radius: 10px;
}

#solution .solution__content-wrap .solution__content .solution__content--text {
  width: 50%;
}

#solution .solution__content-wrap .solution__content h2 {
  color: #4C5253;
  font-size: 2.5em;
  margin-top: 30px;
  margin-bottom: 30px;
}

#solution .solution__content-wrap .solution__content h2 .blue {
  color: #2FC1FF;
}

#solution .solution__content-wrap .solution__content p {
  font-size: 1.2em;
  font-weight: bold;
  color: #4C5253;
}

#solution .solution__content-wrap .solution__content-image {
  width: 25%;
  /* margin: auto; */
}

#solution .solution__content-wrap .solution__content-image img {
  width: 100%;
}

/******************
  point
******************/
#point {
  margin-top: 100px;
  display: flex;
  justify-content: center;
  background-image: url(../images/chandra-point-bg.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: left;
}

#point .point__content--image {
  width: 25%;
  margin-right: 100px;
}

#point .point__content--image img {
  width: 100%;
}

#point .point__content--text {
  width: 30%;
}

#point .point__content--text span {
  font-weight: bold;
  color: #2FC1FF;
}

#point .point__content--text h2 {
  font-size: 3em;
  margin-bottom: 15px;
}

#point .point__content--text p {
  font-weight: bold;
  font-size: 1.5em;
  color: #4C5253;
  margin-bottom: 30px;
}

#point .point__content--text ul li {
  font-weight: bold;
  font-size: 1.2em;
  list-style: none;
  margin-bottom: 15px;
}

#point .point__content--text ul li::before {
  content: "";
  width: 15px;
  height: 15px;
  display: inline-block;
  background-color: #2FC1FF;
  border-radius: 50%;
  margin-right: 5px;
}

.point__button {
  margin-top: 30px;
}

.point__button a {
  background: #eee;
  border-radius: 3px;
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0 auto;
  max-width: 280px;
  padding: 10px 25px;
  color: #313131;
  transition: 0.3s ease-in-out;
  font-weight: bold;
}
.point__button a:after {
content: "";
position: absolute;
top: 50%;
bottom: 0;
right: 2rem;
font-size: 90%;
display: flex;
justify-content: center;
align-items: center;
transition: right 0.3s;
width: 6px;
height: 6px;
border-top: solid 2px currentColor;
border-right: solid 2px currentColor;
transform: translateY(-50%) rotate(45deg);
}
.point__button a:hover {
background: #6bb6ff;
color: #FFF;
}
.point__button a:hover:after {
right: 1.4rem;
}

/******************
  flow
******************/
#flow {
  margin-top: 100px;
}

#flow .flow__contents {
  width: 80%;
  margin: auto;
  margin-top: 30px;
  position: relative;
}

#flow .flow__contents .prev-arrow {
  position: absolute;
  top: 50%;
  left: 25%;
  font-size: 4em;
  color: #2FC1FF;
  z-index: 1;
}

#flow .flow__contents .next-arrow {
  position: absolute;
  top: 50%;
  right: 25%;
  font-size: 4em;
  color: #2FC1FF;
}

#flow .flow__contents .prev-arrow:hover ,
#flow .flow__contents .next-arrow:hover {
  opacity: 0.5;
  transition: all 0.5s;
}

.slick-slide {
	opacity: 0.5;
	transition: 0.5s;
}
.slick-current {
	opacity: 1;
	transition: 0.5s;
}

#flow .flow__contents .flow__content {
  width: 350px;
  height: 450px;
  border: 2px solid #2FC1FF;
  border-radius: 15px;
  padding: 15px 30px;
  margin: 0 50px;
  text-align: center;
}

#flow .flow__contents .flow__content span {
  font-size: 3em;
  color: #2FC1FF;
  font-weight: bold;
}

#flow .flow__contents .flow__content h2 {
  font-size: 2em;
}

#flow .flow__contents .flow__content p {
  font-weight: bold;
  color: #4C5253;
  text-align: left;
}

#flow .flow__contents .flow__content .flow__content-image {
  width: 40%;
  margin: auto;
  margin-bottom: 15px;
}

#flow .flow__contents .flow__content .flow__content-image img {
  width: 100%;
}

/******************
  news
******************/
#news {
  margin: auto;
  margin-top: 100px;
  width: 50%;
}

#news .news__wrapper {
  margin-top: 30px;
  text-align: left;
}

#news .news__wrapper .news__list {
  list-style: none;
  font-weight: bold;
  margin-top: 30px;
  padding-bottom: 30px;
  border-bottom: 1px solid #4C5253;
}

#news .news__wrapper .news__list span {
  margin-right: 30px;
}

#news .news__wrapper .news__list .news__date {
  font-weight: normal;
  color: #4C5253;
}