@charset "UTF-8";
body {
  font-family: 'Noto Sans JP', sans-serif;
}

a {
  color: #4C5253;
  text-decoration: none;
}

* {
  margin: 0;
  padding: 0;
}

main {
  width: 80%;
  margin-left: auto;
}

.section__title {
  text-align: center;
}

.section__title span {
  color: #2FC1FF;
  font-weight: bold;
}

.section__title h2 {
  font-size: 2.5em;
}

.fade-in {
  opacity: 0;
  transform: translate(0, 100px);
  transition: all 1.5s;
}

.visible {
  opacity: 1;
  transform: translate(0, 0);
}

/******************
  header
******************/

.pc-nav {
  width: 20%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  margin: auto;
  padding-top: 50px;
  padding-bottom: 50px;
  text-align: center;
  /* padding: 15px 0px 15px 30px; */
  /* display: flex;
  justify-content: space-between; */
  box-shadow: 0 3px 6px rgba(0,0,0,0.2);
  background-color: #fff;
  z-index: 10;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

header .logo {
  /* margin-bottom: 100px; */
}

header .logo img {
  width: 60%;
  margin: auto;
}

.sp-nav {
  display: none;
}

.pc-nav ul {
  /* display: flex; */
  /* margin-bottom: 100px; */
}

.pc-nav ul li {
  list-style: none;
  /* margin-left: 20px; */
  /* line-height: 50px; */
  /* margin-right: 30px; */
  margin-bottom: 30px;
  font-weight: bold;
  font-size: 1.2em;
}

.pc-nav ul li a {
  position: relative;
  transition: all 0.3s;
  color: #4C5253;
}

.pc-nav ul li a:hover {
  color: #2FC1FF;
  font-size: 20px;
}

.pc-nav ul li a::after {
  position: absolute;
  bottom: -4px;
  left: 0;
  content: '';
  width: 100%;
  height: 2px;
  background: #50AEF6;
  transform: scale(0, 1);
  transform-origin: left top;
  transition: transform .3s;
}

.pc-nav ul li a:hover::after {
  transform: scale(1, 1);
}

header .hamburger,
header .globalMenuSp {
  display: none;
}

/******************
  main-area
******************/
#main-area {
  height: 550px;
  display: flex;
  justify-content: center;
  /* background-image: url(../images/main-area-bg.png); */
  background-color: #3296DB;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  padding-top: 80px;
  padding-bottom: 50px;
}

#main-area .main-area__text {
  margin-top: 120px;
  width: 600px;
}

#main-area .main-area__text h1 {
  font-size: 70px;
  color: #fff;
}

#main-area .main-area__text > p {
  font-weight: bold;
  font-size: 1.2em;
  margin-top: 30px;
  color: #4C5253;
}

#main-area .main-area__image {
  width: 40%;
  display: flex;
  align-items: center;
}

#main-area .main-area__image img {
  width: 100%;
}

/******************
  feature
******************/
#feature {
  display: flex;
  justify-content: center;
  margin-top: 100px;
}

#feature .feature__text {
  width: 30%;
  padding-right: 30px;
  margin-top: 50px;
}

#feature .feature__text h1 {
  font-size: 3em;
  color: #2FC1FF;
  margin-bottom: 30px;
}

#feature .feature__text p {
  font-weight: bold;
  font-size: 1.2em;
}

#feature .feature__img--sp {
  display: none;
}

#feature .feature__img--pc {
  width: 30%;
  display: flex;
  align-items: center;
  padding-left: 30px;
}

#feature .feature__img--pc img {
  width: 100%;
}
/******************
  point
******************/
#point {
  margin-top: 100px;
  display: flex;
  justify-content: center;
  background-image: url(../images/chandra-point-bg.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: left;
}

#point .point__image--sp {
  display: none;
}

#point .point__image--pc {
  width: 25%;
  margin-right: 100px;
}

#point .point__image--pc img {
  width: 100%;
}

#point .point__text {
  width: 30%;
}

#point .point__text span {
  font-weight: bold;
  color: #2FC1FF;
}

#point .point__text h2 {
  font-size: 3em;
  margin-bottom: 15px;
}

#point .point__text p {
  font-weight: bold;
  font-size: 1.5em;
  color: #4C5253;
  margin-bottom: 30px;
}

#point .point__text ul li {
  font-weight: bold;
  font-size: 1.2em;
  list-style: none;
  margin-bottom: 15px;
}

#point .point__text ul li::before {
  content: "";
  width: 15px;
  height: 15px;
  display: inline-block;
  background-color: #2FC1FF;
  border-radius: 50%;
  margin-right: 5px;
}

.point__button {
  margin-top: 30px;
}

.point__button a {
  background: #eee;
  border-radius: 3px;
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0 auto;
  max-width: 280px;
  padding: 10px 25px;
  color: #313131;
  transition: 0.3s ease-in-out;
  font-weight: bold;
}
.point__button a:after {
content: "";
position: absolute;
top: 50%;
bottom: 0;
right: 2rem;
font-size: 90%;
display: flex;
justify-content: center;
align-items: center;
transition: right 0.3s;
width: 6px;
height: 6px;
border-top: solid 2px currentColor;
border-right: solid 2px currentColor;
transform: translateY(-50%) rotate(45deg);
}
.point__button a:hover {
background: #6bb6ff;
color: #FFF;
}
.point__button a:hover:after {
right: 1.4rem;
}

/******************
  service
******************/
#service {
  margin-top: 100px;
  background-color: #F2F5F9;
  padding: 50px 0;
}

#service .service__contents {
  width: 80%;
  display: flex;
  justify-content: space-around;
  margin: auto;
  margin-top: 30px;
  position: relative;
}

#service .service__contents .service__content {
  width: 300px;
  /* height: 450px; */
  border: 2px solid #2FC1FF;
  border-radius: 15px;
  padding: 15px 30px;
  margin: 0 50px;
  text-align: center;
  background-color: #fff;
}

#service .service__contents .service__content span {
  font-size: 3em;
  color: #2FC1FF;
  font-weight: bold;
}

#service .service__contents .service__content h2 {
  font-size: 1.5em;
}

#service .service__contents .service__content p {
  font-weight: bold;
  color: #4C5253;
  text-align: left;
}

#service .service__contents .service__content .service__content-image {
  width: 60%;
  margin: auto;
  margin-bottom: 10px;
}

#service .service__contents .service__content .service__content-image img {
  width: 100%;
}
/******************
  column
******************/
#column {
  margin-top: 100px;
  display: flex;
}

#column .column__title {
  width: 25%;
  min-width: 390px;
  padding: 80px 0;
  margin-right: 80px;
  background-color: #2FC1FF;
  border-radius: 0 max(10px,min(15px,calc((100vw - 10px - 100%)*9999))) max(10px,min(15px,calc((100vw - 10px - 100%)*9999))) 0;
}

#column .column__title .section__title {
  margin-left: 100px;
}

#column .column__title span ,
#column .column__title h2  {
  color: #FFF
}

#column .column__title h2 {
  font-size: 2em;
}

#column .column__button {
  margin-top: 15px;
  text-align: center;
}

#column .column__button a {
  background: #eee;
  border-radius: 50px;
  position: relative;
  justify-content: space-around;
  align-items: center;
  margin: 0 auto;
  width: 50%;
  display: inline-block;
  padding: 10px 25px;
  color: #313131;
  transition: 0.3s ease-in-out;
  font-weight: bold;
}
#column .column__button a:hover {
  background: #313131;
  color: #FFF;
}
#column .column__button a:after {
  content: '';
  width: 5px;
  height: 5px;
  border-top: 3px solid #313131;
  border-right: 3px solid #313131;
  transform: rotate(45deg) translateY(-50%);
  position: absolute;
  top: 50%;
  right: 20px;
  border-radius: 1px;
  transition: 0.3s ease-in-out;
}
#column .column__button a:hover:after {
  border-color: #FFF;
}

#column .column__slider {
  width: 70%;
  position: relative;
}

#column .column__slider .prev-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: -40px;
  z-index: 3;
  font-size: 2.5em;
  color: #2FC1FF;
}

#column .column__slider .next-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 630px;
  font-size: 2.5em;
  color: #2FC1FF;
}

#column .column__slider .column__item {
  width: 300px;
  /* border: 2px solid #2FC1FF; */
  border-radius: 15px 15px 15px 15px;
  margin-right: 30px;
  box-shadow: 4px 4px 10px 0 #d6e0e3;
  overflow-wrap: break-word;
}

#column .column__slider .slick-list {
  padding-bottom: 15px;
}

#column .column__slider .column__item .column__img {
  width: 100%;
}

#column .column__slider .column__item .column__img img {
  border-radius: 15px 15px 0 0;
  width: 100%;
  height: auto;
}

#column .column__slider .column__item .column__text {
  margin-top: 10px;
  padding: 15px;
}

/******************
  news
******************/
#news {
  margin: auto;
  margin-top: 100px;
  width: 50%;
}

#news .news__wrapper {
  margin-top: 30px;
  text-align: left;
}

#news .news__wrapper .news__list {
  list-style: none;
  font-weight: bold;
  margin-top: 30px;
  padding-bottom: 30px;
  border-bottom: 1px solid #ececec;
}

#news .news__wrapper .news__list a {
  display: flex;
}

#news .news__wrapper .news__list a .news__title {
  transition: all .3s;
}

#news .news__wrapper .news__list a:hover .news__title {
  text-decoration: underline;
  color: #2FC1FF;
}

#news .news__wrapper .news__list span {
  font-weight: normal;
  color: #4C5253;
  margin-right: 30px;
}

#news .news__wrapper .news__list .news__date {
  margin-right: 30px;
  color: #2FC1FF;
  font-weight: bold;
}

/******************
  footer
******************/
#contact {
  /* background-color: #2FC1FF; */
  background-image: url(../images/footer-bg.jpg);
  background-size: cover;
  background-position: right;
  /* display: flex; */
  justify-content: center;
  margin-bottom: 30px;
  padding-top: 50px;
  padding-bottom: 50px;
  position: relative;
  z-index: 1;
}


#contact .section__title {
  /* margin-right: 150px; */
  /* margin-top: 30px; */
  margin-bottom: 50px;
  color: #fff;
}

#contact .section__title span {
  color: #000;
}

#contact .contact__text {
  text-align: center;
  font-weight: bold;
  color: #fff;
}

#contact .contact__text h2 {
  font-size: 1.5em;
}

#contact .button {
  width: auto;
  margin: 30px auto 0;
}

footer {
  width: 80%;
  margin-left: auto;
  margin-top: 100px;
  padding-bottom: 50px;
  background-color: #F2F5F9;
  /* display: flex; */
  text-align: center;
  justify-content: space-around;
  border: 1px solid #d8d8d879;
}

footer .footer__nav {
  display: flex;
  justify-content: space-between;
  text-align: left;
}

footer .footer__nav .footer__info {
  margin-left: 200px;
}

footer .footer__nav .footer__info .footer__nav--title {
  padding-bottom: 8px;
  border-bottom: 1px solid #555;
}

footer .footer__nav .footer__info .footer__nav--text {
  padding-top: 8px;
  margin-bottom: 15px;
}

footer .footer__info p {
  color: #4C5253;
  font-size: 15px;
  font-weight: bold;
}

footer .footer__nav .footer__info .copyright {
  margin-top: 30px;
  font-weight: normal;
}

footer .footer__logo {
  width: 200px;
  object-fit: contain;
  margin-bottom: 30px;
}

footer ul {
  margin-right: 200px;
}

footer ul li {
  list-style: none;
  padding-left: 30px;
  padding-right: 30px;
  margin-top: 15px;
}

footer ul li a {
  font-weight: bold;
  transition: all .3s;
}

footer ul li a:hover {
  color: #2FC1FF;
}